// Specific CSS for your home-page

// .container{
//   margin: 50px;
//   padding: 0;
//   width: auto;
// }

.max-width{
  width: 100vw;
  margin: 0;
  padding: 0;
}

.d-block{
  height: 100vh;
  width: auto;
  // display:flex;
  // align-items: center;
  // justify-content: center;
  background-size: cover;
  padding: 200px;


}

.carousel-inner{
  height: 100vh;
  width: 100vw;
  // display:flex;
  // align-items: center;
  // justify-content: center;

}



// .banner-links{
//   display:flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 50px;

//   a{
//     color: white;
//     font-size: 26px;
//     &:hover{
//       text-decoration: none;
//       opacity: 0.5;
//     }
//   }
// }

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 160px;
  margin-top: 60px;
}


h1 {
  color: white;
  text-align: center;
  position: center;
  font-size: 50px;
  font-weight: bold;
}




.instructions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 125px auto;
    max-width: 1500px;
    justify-content: space-around;
    font-size: 24px;
    text-align: center;
    font-family: 'Courgette';
    color: #808080c7;
}

.instructions i {
  color: #E6D74E
}



