<div class="user-image-uploads col-11">
  <h3>User pictures</h3>
  <hr>
  <p>placeholder for button to upload user image</p>
   <%= link_to 'Add a photo', class: "button" %>
    <% simple_form_for [recipe], remote: :true do |f| %>
        <%= f.input :images, as: :file %>
        <%= f.submit "Add a photo", class: "button" %>
  <% end %>
  <% if recipe.images.attached? %>
    <% recipe.images.each do |image| %>
      <%= cl_image_tag image.key, height: 60, width: 100, crop: :fill %>
    <% end %>
  <% end %>
</div>



