<div class="user-image-uploads col-12">
  <h3>User pictures</h3>
  <hr>
    <% if recipe.images.attached? %>
      <% recipe.images.each do |image| %>
        <%= cl_image_tag image.key, height: 100, width: 100, crop: :fill %>
      <% end %>
    <% end %>
    <%= simple_form_for recipe, method: :patch, url: upload_recipe_path do |f| %>
      <%= f.input :images, as: :file, label: false, input_html: {multiple: true} %>
      <%= f.submit "Upload your photo", class: "button" %>
    <% end %>

</div>



