<%= render "search", foods: @foods %>

<div class="index-container">
  <% @recipes.each do |recipe| %>
    <%= render 'shared/index-card', recipe: recipe %>
  <% end %>
</div>

<br>
<%#-- Link to New recipe%>
<%= link_to "Create Recipe", new_recipe_path %>

