<div class="container">
  <div class="index-page">
    <div class="index-search-background">
      <%= render "search", foods: @foods, search_terms: @search_terms %>
    </div>

    <%= render "shared/filter_panel" %>
    <%= render 'shared/index-card', recipe: @recipe %>

    <br>
  </div>

</div>
