<div class="container">

<%= render "search", foods: @foods %>

<%= render 'shared/index-card', recipe: @recipe %>



<br>
<%#-- Link to New recipe%>
<%= link_to "Create Recipe", new_recipe_path %>

</div>
