
<div class="container">
  <div class="index-search">
   <%= render "search", foods: @foods %>
  </div>



<%= render 'shared/index-card', recipe: @recipe %>



<br>
<%#-- Link to New recipe%>
<%= link_to "Create Recipe", new_recipe_path %>

</div>
