<%= link_to wishlist_path(recipe.id), method: :post, class: "dishlist-button" do %>
  <% if session[:recipe_id] && session[:recipe_id].include?(recipe.id) %>
    <p><i class="fas fa-pepper-hot"></i>  Remove from dishlist</p>
  <% else %>
    <p><i class="fas fa-pepper-hot"> </i>  Add to dishlist</p>
  <% end %>
<% end %>
