  <!--Footer-->
<footer>
  <div class = "footer-grid">
    <div class = "footer-grid-element-1">
      <ul class="icons">
        <a href="https://github.com/elizaplowden/rails-dished" target="_blank"><i class="fab fa-github"></i></a>
      </ul>
    </div>
    <div class="footer-grid-element-2">
      <p class="copyright">Dished! © 2021</p>
    </div>
    <div class="footer-grid-element-3">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</footer>
