  <!--Footer-->
<footer>

  <div class = "footer-grid">

    <div class = "footer-grid-element-1">
        <ul class="icons">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
      </ul>
    </div>

    <div class="footer-grid-element-2">
      <p class="copyright">Dished! © 2021</p>
    </div>




    <div class="footer-grid-element-3">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
    </div>

  </div>

</footer>
