<div class="rating">
  <% if !rating.nil? %>
    <% rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
<!--     <strong><%= rating %></strong> -->
  <% end %>
</div>
