<div class="rating">
  <% unless rating.nil? %>
    <% rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  <% end %>
  <strong><%= rating %> stars</strong>
</div>
