<div class="about-container">
  <div class="about-text">
    <h1>Dished!</h1>
    <div class="">
      This application was created to help home cooks find inspiration to cook new and different things, and bring more variety into meal time.
    </div>
  </div>
  <div class="about-developers">
    <div class="about-developers-text">
      This app was devloped by
    </div>
    <div class="about-developers-pictures">
      <%= link_to ,  %>
    </div>
  </div>
</div>
