<div class="container">
  <div class="about-header">
    <h1>Dished!</h1>
  </div>
  <div class="about-text">
    <div class="">
      This application was created to help home cooks find inspiration to cook new and different things, and bring more variety into meal time.
    </div>
  </div>
  <div class="about-developers">
    <div class="about-developers-text">
      <h2>Developers</h2>
      <hr>
    </div>
    <div class="about-developers-pictures">
      <h3><a href="https://github.com/elizaplowden" target="_blank">Eliza Plowden</a></h3>
      <h3><a href="https://github.com/Phillip-Gardner" target="_blank">Phillip Gardner</a></h3>
      <h3><a href="https://github.com/saraevs" target="_blank">Sara Evans</a></h3>
      <h3><a href="https://github.com/gmurphy10" target="_blank">George Murphy</a></h3>
    </div>
  </div>
</div>
