<div>
  <div id="banner-carousel" class="carousel slide max-width" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dupmc3vsd/image/upload/v1614874851/dished_blue_we2xrt.jpg'); "></div>
      </div>
      <div class="carousel-item">
        <div class="d-block" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dupmc3vsd/image/upload/v1614874851/dished_yellow_z8hnzh.jpg'); "></div>
      </div>
      <div class="banner-content">
        <div class="banner-text">
          <h1>Dished!</h1>
          <div class="banner-search">
            <div class="banner-search-text">What's in your fridge?</div>
            <%= render "./recipes/search", foods: @foods, search_terms: @search_terms %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="instructions">
    <div class="intructions-list">
      <i class="fas fa-search"></i>
        <p>Explore thousands of recipes</p>
    </div>
    <div class="intructions-list">
      <i class="fas fa-pepper-hot"></i>
        <p>Something catch your eye? Add to your dishlist!</p>
    </div>
    <div class="intructions-list">
      <i class="far fa-bookmark"></i>
        <p>View recipes in your very own cookbook!</p>
    </div>
  </div>
</div>







