<div class="container max-width">
<div id="banner-carousel" class="carousel slide max-width" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-block" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dupmc3vsd/image/upload/v1614874851/dished_blue_we2xrt.jpg'); "></div>
    </div>
    <div class="carousel-item">
      <div class="d-block" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dupmc3vsd/image/upload/v1614874851/dished_yellow_z8hnzh.jpg'); "></div>
    </div>



        <div class="banner-content">
          <div class="banner-text">
            <h1>Dished!</h1>
            <div class="banner-search">
              <div class="banner-search-text">What's in your fridge?</div>
              <%= render "./recipes/search", foods: @foods %>
            </div>
          </div>
          <div class="banner-links">
            <%= link_to 'View all Recipes', recipes_path, class: "button" %>
            <%= link_to "Create Recipe", new_recipe_path, class: "button"%>
          </div>
        </div>
  <!--     </div>
    </div> -->

    <!-- <div class="carousel-item">
      <div class="d-block" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dupmc3vsd/image/upload/v1614874851/dished_yellow_z8hnzh.jpg'); ">
        <div class="banner-content">
          <div class="banner-text">
            <h1>Dished!</h1>
            <div class="banner-search">
              <%#= render "./recipes/search", foods: @foods %>
            </div>
          </div>
          <div class="banner-links">
            <%#= link_to 'View all Recipes', recipes_path, class: "button" %>
            <%#= link_to "Create Recipe", new_recipe_path, class: "button"%>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
</div>







