// Import recipe controller specific stylesheets here
@import "show";
@import "new";
@import "rating";
@import "notes";
@import "reviews";

.index-page{
  padding-bottom: 20px;
}

.index-search{
  display:flex;
  justify-content: center;
  padding-bottom: 30px;
  // background-color: #5ADDE6;
  // color: #f4f4f4;
  width: 98%;
  border-radius: 10px;
}


.recipe-button {
  margin-bottom: 40px;
  background-color: #80808094;
  padding: 10px 15px;
  border-radius: 40px;
  color: #fff;
  width: 145px;
  margin: 5px;
  text-decoration: none;
}

  .recipe-button a {
  color: #fff;
  text-decoration: none;
  }

.recipe-button:hover {
  opacity: 0.8;
  text-decoration: none;
  }

