// Import recipe controller specific stylesheets here
@import "show";
@import "new";
@import "rating";
@import "notes";
@import "reviews";

.index-search{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #5ADDE6;
  color: #f4f4f4;
  width: 98%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
}

