// Import recipe controller specific stylesheets here
@import "show";
@import "new";
@import "rating";
@import "notes";
@import "reviews";
@import "user_images";

.index-page{
  padding-bottom: 20px;
}

.index-search{
  display:flex;
  justify-content: center;
  padding-bottom: 30px;
  // background-color: #5ADDE6;
  // color: #f4f4f4;
  width: 98%;
  border-radius: 10px;
}

