.form-container {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 35px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: gray;
}

.yield-container {
  padding-top: 50px;
  margin: 70px 250px;
}

.form-outer {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #5ADDE6;
}

.back-button{
  color: gray;
}
.back-button:hover {
  color: #E6D74E;
}


