// recipe show page css goes here
.show-container {
  background-color: #fff;
  padding: 20px;
}

.show-container h2 {
  color: gray;
}
.main-recipe-container {
  display:flex;
}

.non-recipe-container {
  background-color: #FFD966;
}

.recipe-container {
  background-color: #fff;
  max-width: 70vw;
  display: flex;
  // box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
  // margin: 20px auto;
}

.recipe-method-container {
  display: flex;
}

.padding {
  padding: 30px;
}

.recipe-stats-actions {
  color: gray;
  display: flex;
  padding: 10px 30px;
}

.notes-container {
  background-color: #fff;
  margin-left: 20px;
}

.recipe-photo {
  width: 500px;
  height: 400px;
  object-fit: cover;

}

.recipe-details-container {
  display: flex;
}

.review {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
