// recipe show page css goes here

// colour variables
$primary-colour: #80808094; // gray
$secondary-colour: #5ADDE6; // blue


.show-container {
  background-color: #fff;
}

.show-container h2 {
  padding: 30px 40px 0 40px;
  font-weight: bold;
}

.recipe-overview-container  {
  display: flex;
  padding: 20px 0 20px 20px;
  margin-top: 20px;
}

.ingredients-container ul {
  list-style-type: none;
  padding:0;
  padding-top: 20px;
}

.ingredients-container {
  padding-right: 50px;
}

.recipe-method-container {
  margin-top: 50px;
  display: flex;
  padding: 20px 0 20px 20px;
  background-color: $secondary-colour;
  color: #fff;
  opacity: 0.8;
}

.user-images-container, .reviews-container {
  padding: 20px;
  margin: 20px 0px;
}

.reviews-container {
  background-color: #E6D74E;
  border: 0;
}

.recipe-stats-actions {
  // color: #80808094;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  text-align:left;

  i {
    margin-top: 30px;
  }
}


.recipe-photo {
  width: 450px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: -40px;

}

.recipe-photo-container {
.cookbook-button-save, .cookbook-button-saved {
  color: #fff;
  position: relative;
  top: 20px;
  left: 400px;
  i{
    font-size: 30px;
  }
}
}


// .cookbook-button-save, .cookbook-button-saved {
//   // background-color: $primary-colour;
//   // padding: 10px 15px;
//   // border-radius: 40px;
//   // color: #fff;
//   // a{
//   //   color: #fff
//   // }
// // }


// .cookbook-button-save:hover, .cookbook-button-saved:hover{
  //   opacity: 0.8;
  //   text-decoration: none;
  //   color: #fff;
  //   padding: 12px 16px;
  // }



.recipe-info-bar {
  display: flex;
  align-items: flex-end;
}

.recipe-info-icons{
  margin-left: 130px;
  display:flex;
  .cook-time{
    padding-right: 20px;
  }
}

.recipe-info-bar h4 {
  margin: 0;
}

.recipe-info-bar i {
  color: $primary-colour;
}



// .dishlist-button{
//   background-color: $primary-colour;
//   padding: 10px 15px;
//   border-radius: 40px;
//   color: #fff;
//   a{
//     color: #fff
//   }
// }


// .dishlist-button:hover{
//      opacity: 0.8;
//     text-decoration: none;
//     color: #fff;
//     padding: 12px 16px;
// }

.user-image-uploads{
  padding: 0px;
  img{
    margin-right: 10px;
    border-radius: 16px;
    margin-bottom: 20px;
  }
  // to style buttons etc
  .simple_form{
  }
}

.links-to {
  list-style-type: none;
  margin-bottom: 50px;
  margin-top: 30px;
}

.recipe-actions a {
  margin-top: 30px;
  display:flex;
  color: $secondary-colour;
  font-weight:bold;
  flex-wrap: wrap;
}

.recipe-actions a:hover{
  color: $primary-colour;
}

.recipe-actions {
  margin: 40px 20px;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
}

