.alert {
  position: fixed;
  bottom: 120px;
  right: 12px;
  z-index: 1000;
  color: #15b3b3;
  background-color: #fff;
  border: none;
  border-radius: 5px;

}


.custom-model{
  .modal-header{
    color: #fff;
  }
}
