// colour variables

$primary-colour: #8080806b; // gray
$secondary-colour: #15b3b3; // blue


// Gray Button
.gray-button {
  background-color: $primary-colour;
  padding: 10px 15px;
  border-radius: 40px;
  color: #fff;
  width: fit-content;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 4px 4px 0 #ced4da;
  cursor: pointer;
}

.gray-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.gray-button a {
  color: #fff;
  text-decoration: none;
  }

.gray-button:hover a  {
  opacity: 0.75;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  }


// Unfollow Button
.unfollow-button {
  width: fit-content;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  // height: 50px;
  font-size: 15px;
}

.unfollow-button a {
  color: #fff;
  text-decoration: none;
}

.unfollow-button a:hover {
  opacity: 0.8;
  text-decoration: none;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #E6D74E;
 }

// // Follow Button
// .follow-button {
//   background-color: #8080806b;
//   padding: 18px 10px;
//   border-radius: 40px;
//   color: #fff;
//   width: fit-content;
//   margin: 5px;
//   text-decoration: none;
//   text-align: center;
//   height: 50px;
//   font-size: 10px;
//   box-shadow: 0 4px 4px 0 #ced4da;
// }

// .follow-button a {
//   color: #fff;
//   text-decoration: none;
//   }

//   .follow-button:hover {
//   opacity: 0.8;
//   text-decoration: none;
//   }

// Followers & following
.followings button {
    display: inline-block;
    background: white;
    box-shadow: 2px 2px black;
    padding: 8px;
    border: 1px;
    border-style: solid;

}


.cookbook-button-save, .cookbook-button-saved{
    // position:absolute;
    top:0;
    right: 0;
    z-index: 2;
    color: #fff;
    font-weight: bold;
  }


.cookbook-button-save:hover, .cookbook-button-saved:hover{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.dishlist-button {
  color: $secondary-colour;
  font-weight: bold;
}

.dishlist-button:hover {
  color: $primary-colour;
  font-weight: bold;
}

// white Button
.white-button {
  padding: 0 15px;
  background-color: transparent;
  border: 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.white-button:hover {
  opacity: 0.75;
  cursor: pointer;
}



