// colour variables
$primary-colour: #80808094; // gray

// Gray Button
.gray-button {
  background-color: #80808094;
  padding: 10px 15px;
  border-radius: 40px;
  color: #fff;
  width: fit-content;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  height: 35px;
  font-size: 15px;
}

  .gray-button a {
  color: #fff;
  text-decoration: none;
  }

.gray-button:hover {
  opacity: 0.8;
  text-decoration: none;
  }

