#follow-modal {
  background: white;
}

.modal-info {
  display: flex;
  vertical-align: middle;
}

.modal-info a {
  padding: 25px;
  margin-top: 14px;
  vertical-align: middle;
  margin-top: 5px;
}
