.index-container {
  width: 100%;
  columns: 4;
  column-gap: 0px;
  overflow: visible;
}

.index-box {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 32px;
  transition: all 0.2s linear;
}



// Responsive Container ---------------------

@media(max-width: 1200px)
  {
    .index-container
    {
      columns: 3;
    }
  }
@media(max-width: 768px)
  {
    .index-container
    {
      columns: 2;
    }
  }
@media(max-width: 480px)
  {
    .index-container
    {
      columns: 1;
    }
  }
