
// Image styling
.index-card img {
  width: 500px;
  object-fit: cover;
}


// Index card positioning
.index-card {
  border-radius: 16px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear;
}


#explore-page {
  width: 400px;
  margin: 12px;
}

// Index text positioning
.index-card-text {
  position: absolute;
  bottom: 0px;
}

#explore-text {
  left: 20px;
}

.index-card-info{
  margin-top: 30px;
}

// specific styling for serves, cooktime, ratings
.index-card-info p {
  font-size: 18px;
  margin: 8px;
  padding: 4px;
  font-weight: bold;
}

// reviews
.index-card-info i{
  opacity: 0;

}

// specific styling for heading
.index-card-heading h2 {
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
}

// specific styling for heading and serves, cooktime, ratings
.index-card-text {
  width: 220px;
  opacity: 1;
  color: transparent;
  margin-bottom: 10px;
}

// ----- Hover Activity --------------

.index-card:hover .index-card-heading {
  color: black;
  background: white;
  box-shadow: 2px 2px black;
  padding: 8px;
  border: 1px;
  border-style: solid;
  display: inline-block;
}

.index-card:hover .index-card-text {
  color: white;
}

.index-card:hover img {
  filter: brightness(50%);
  transition: all 0.2s linear;
}

.index-box:hover {
  transform: translateY(6px);
  transition: all 0.2s linear;
}

.index-card:hover i{
  opacity: 1;
}


