// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');

.navbar {
  font-family:  "Work Sans", "Helvetica", "sans-serif";
  padding: 0px !important;
  border-style: solid;
  border-color: black;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.search_nav {
  padding-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {

}

.dropdown-toggle::after {
  display: none;
}

// Icon & Title styling
.title-with-icon {
  font-size: 25px;
  padding-left: 28px;
  color: #e6d74e;

}

// Dished text
.dished-title {
  font-family: 'Courgette' ;
  font-size: 23px;
}

// padding for home
.navbar-expand-sm .navbar-nav {
  padding-right: 2.5rem;
}

// avatar
.avatar {
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin: 5px 10px;
}

// drop down color
.dropdown-item {
  color: gray;
  padding: 8px;
  padding-left: 8px;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item i {
  padding: 8px;

}


#dropdown-heading h3 {
  padding: 10px;
}

// nav search styling
.search_nav .btn {
  background-color: white;
  color: gray;
  border: white;
}



.dropdown-toggle .nav-link {
  padding: 0px;
}

// animation

@keyframes wiggle {
    0% { transform: rotate(12deg); }
    5% { transform: rotate(-6deg); }
    10% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(20deg); }
   95% { transform: rotate(-20deg); }
  100% { transform: rotate(12deg); }
}

i.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

i.wiggle:hover {
  animation: none;
}

.title-with-icon:hover {
  color: #e6d74e;
  opacity: 0.7;
}

// drop down hover color
.dropdown-item:hover {
  color: #e6d74e;
}

// links hover color
.navbar-expand-sm .navbar-nav .nav-link:hover {
  color: #e6d74e;
}

.search_nav .btn:hover {
  color: #e6d74e;
}

.search_nav .select2:hover {
  color: #e6d74e;
}

// .nav-item .avatar{
//   margin-bottom: 10px;
// }

