// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
 padding: 20px;
}

// Icon & Title styling
.title-with-icon {
  font-size: 25px;
  padding: 10px 10px;
  color: #e6d74e;

}

.title-with-icon:hover {
  color: #e6d74e;
  opacity: 0.7;
}

// Dished text
.dished-title {
  font-family: 'Courgette' ;
  font-size: 23px;
}

// padding for home
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 2.5rem;
}

// avatar
.avatar {
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin: 5px 10px;
}

// drop down color
.dropdown-item {
  color: gray;
}

// drop down hover color
.dropdown-item:hover {
  color: #e6d74e;
}

// links hover color
.navbar-expand-sm .navbar-nav .nav-link:hover {
  color: #e6d74e;
}

// nav search styling
.search_nav .btn {
  background-color: white;
  color: gray;
  border: white;
}

.search_nav .btn:hover {
  color: #e6d74e;
}

.search_nav .select2:hover {
  color: #e6d74e;
}

