@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
 padding: 20px;
}

// Icon & Title styling
.title-with-icon {
  font-size: 25px;
  padding: 10px 10px;
  color: #ffbb00;
}

// Dished text
.dished-title {
  font-family: 'Playfair Display SC';
  font-size: 23px;
}

// home link color
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: gray;
}

// padding for home
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 3.5rem;
}

// avatar
.avatar {
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin: 5px;
}
