// styles the search form
#search-bar-form {
  justify-content: center;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}

// styles the button next to the search
#search_button_home {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 48px;
  min-height: 60px;
  border: 0;
  opacity: 0.7;
}

#search_button_navbar {
  margin-bottom: 1rem;
  margin-left: 20px;
  color: gray;
  font-size: 20px;
  min-height: 60px;
  border: 0;
}

#search_button_home:hover, #search_button_navbar:hover {
  opacity: 1;
  transition: transform .2s;
  transform: scale(1.3);
}

#search_button_home:focus, #search_button_navbar:focus {
outline: 0;
}

// styles the background box of the recipes index page
.index-search-background {
  // background-color: #15b3b3;
  // color: #f4f4f4;
  // width: 90%;
  padding-bottom: 30px;
  padding-top: 30px;
  // border-radius: 10px;
}


// container for the banner search text and search bar
.banner-search {
  text-align: center;
  justify-content: center;
}

// styles "What's in my fridge" banner text"
.banner-search-text {
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}

.banner-text h1 {
  margin-bottom: 38px;
}

// over-riding the select2 styles
.select2-container {
  min-width: 200px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  border: 0 !important;
  width: 560px !important;
}

.select2-container--default .select2-selection--multiple {
}

.search_query, .select2-selection {
  border-radius: 16px 16px 16px 16px !important;
  border-right: 0 !important;
  padding-left: 13px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  min-height: 32px !important;
}

.select2-search {
  // min-height: 32px !important;
}

.select2-selection {
  border-right: 0;
  border-left: 1px solid LightGray !important;
  border-top: 1px solid LightGray !important;
  border-bottom: 1px solid LightGray !important;
}

.select2-results__options {
  border-radius: 16px;
}

.select2-selection__rendered {
  min-height: 32px !important;
}

.select2-selection__choice {
  // line-height: 1.4px;
  margin-top: 0 !important;
  background-color: #54BBC0 !important;
  color: white !important;
  border: 1px solid LightGray !important;
  opacity: 1 !important;
}

.select2-selection__choice__remove {
  border-right: none !important;
  color: white !important;
}

.select2-search__field {
  margin: 0 !important;
  text-align: center;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 24px !important;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #15b3b3 !important;
}

.select2-selection--multiple {
  padding: 0px;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 16px !important;
}

.select2-results__option {
  padding-left: 18px !important;
}

