// styles the search form
#search-bar-form {
  justify-content: center;
  margin-top: 40px;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}

// styles the button next to the search
#search_button {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  background-color: #fff;
  min-height: 52px;
  // margin: 0;
  border-left: 0;
  border-right: 1px solid LightGray;
  border-bottom: 1px solid LightGray;
  border-top: 1px solid LightGray;
}


// styles the background box of the recipes index page
.index-search-background {
  // background-color: #5ADDE6;
  // color: #f4f4f4;
  // width: 90%;
  padding-bottom: 30px;
  padding-top: 30px;
  // border-radius: 10px;
}


// container for the banner search text and search bar
.banner-search {
  text-align: center;
  margin: 0;
  margin-top: 100px;
  justify-content: center;
}

// styles "What's in my fridge" banner text"
.banner-search-text {
  color: #fff;
  font-size: 40px;
}

// over-riding the select2 style

.select2-container {
  min-width: 200px;
   font-family: Open Sans;
   min-height: 50px;
   border: 0 !important;
}

.search_query, .select2-search, .select2-selection, .select2-selection__rendered {
  min-height: 50px !important;
  border-radius: 20px 0 0 20px !important;
  border-right: 0 !important;
  padding: 0 !important;
}

.select2-selection {
  border-right: 0;
  border-left: 1px solid LightGray !important;
  border-top: 1px solid LightGray !important;
  border-bottom: 1px solid LightGray !important;
}

.select2-search__field {
  height: 50px !important;
  margin: 0 !important;
}

