.search-bar {
  justify-content: center;
  // padding: 30px;
}

#search-box {
  width: 400px;
}


#search_query {
  border-radius: 25px 0 0 25px;
  width: 900px !important;
  height: 100px !important;
}

.index-search{
  background-color: #5ADDE6;
  color: #f4f4f4;
  width: 98%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
}

.banner-search {
  text-align: center;
  margin: 0;
  margin-top: 100px;
  justify-content: center;
}

.banner-search-text {
  color: #fff;
  font-size: 40px;
}

// .banner-text{
// .search-bar{
//   color: white;
//   margin-top: 40px;
//   font-size: 28px;
//   position: center;

// }
// }
