
// overiding bootstrap modal rules to create a transparent background
.modal-content {
  background: transparent;
  border: 0px;
}

// wrapper around cards to make them scroll horizontally
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;


  .scrolling-card {
    flex: 0 0 auto;
  }
}

// extra css to make the scroll have 'momentum'
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

// card within the modal, flexbox, sizing
.scrolling-card {
  background: grey;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-right: 8px;
  border-radius: 16px;

}

::-webkit-scrollbar{
  display:none;
}

.scrolling-recipe-details h2, h4 {
  display: inline-block;
  background: white;
  box-shadow: 2px 2px black;
  padding: 8px;
  border: 1px;
  border-style: solid;
}

// position all details on top of the image, left aligned
.scrolling-recipe-details {
  position: absolute;
  bottom: 0px;
  left: 5px;
  text-align: left;
  padding-left: 24px;
  max-height: 520px;
  overflow-y: scroll;
  width: 85%;

}

.scrolling-card img {
  width: 600px;
  object-fit: cover;
  filter: brightness(50%);
}

.scrolling-card p {
  text-decoration: none;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.modal-actions {
  top: 30px;
  position: absolute;
  // color: white;
  right: 150px;
}

.add-to-cookbook {
  color: #fff !important;
  position: relative !important;
  left: 285px !important;
  bottom: 55px;
  padding-left: 30px !important;
}

.add-to-cookbook i{
    font-size: 30px !important;
}

.add-to-cookbook i{
    font-size: 30px;
}

.remove-from-dishlist{
    position: relative;
    // color: white;
    right: 120px;
    bottom: 15px;
}

.add-to-cookbook i {
  font-size: 40px;
}

.add-to-cookbook a {
  color: white i !important;
  text-decoration: none i !important;
}
