
// .chilli-button {
//   width: 148px;
//   height: 48px;
//   background-color: #E6D74E;
//   border-radius: 5px;
//   box-shadow: 0 4px 4px 0 #ced4da;
//   transition: all 0.1s ease-in-out;
//   border-color: transparent !important;

//   font-size: 20px;
//   color: white;
//   text-align: center;
// }

// .chilli-button:hover {
//   box-shadow: 0 6px 10px 0 #black;
//   transform: scale(1.05);
//   background-color: #E6D74E;

//   border-color: none;
//   opacity: .8;
// }

// // adding specific css for the dishlist button using id
// #dishlist-button {
//   position: fixed;
//   right: 50px;
//   bottom: 75px;
//   z-index: 100;
// }

// adding specific css for the username & follow elements on the explore page

.dished-button {
  position: fixed;
  // right: 40px;
  bottom: 85px;
  right: 20px;
  z-index: 100;
  display: inline-block;
  background: white;
  box-shadow: 1px 2px 2px 0px black;
  padding: 8px;
  border: 2.5px solid #E6D74E;
  // font-family: 'Cutive Mono', monospace;
  // font-weight: bold;
  // box-shadow: 0 0 0 3px hsl(0, 0%, 90%)
}

.dished-button:hover {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #E6D74E;
  transform: scale(1.2);
  transition: all 0.15s linear;
}

.dished-button:hover i {
  -webkit-transform: rotateZ(-30deg) scale(2.1);
  -ms-transform: rotateZ(-30deg) scale(2.1);
  transform: rotateZ(-30deg) scale(2.1);
  transition: all 0.15s linear;
}
