// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "recipes/index";
@import "users/index";

@import 'select2/dist/css/select2';

// below is css that applies to whole application

h1 {
  font-family: 'Courgette', serif;
  // font-family: 'Playfair Display SC', serif;
}

h2, h3, h4 {
  font-family: 'Cutive Mono', monospace;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

