.review-form-container {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 35px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: gray;
}

.review-form-outer {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 30px;
}

.back-button-review {
  color: gray;
}

.back-button-review:hover {
  color: #E6D74E;
}

.btn-primary-review {
  margin-bottom: 40px;
  background-color: #80808094;
  padding: 10px 10px;
  border-radius: 40px;
  color: #fff;
  width: 150px;
  margin: 5px -5px;
  text-decoration: none;
  border: none;
}

  .btn-primary-review:hover{
  opacity: 0.8;
  text-decoration: none;
  }

.review_description {
  border: 0;
  border-radius: 5px;
}
