.user-profile-page {
  display:flex;

}

.profile-sections{

}

.user-profile{

}

.profile-info {


}

.followings{

}

.recipe-links {
  display: flex;

}

.cookbook{

}





.recipe-index-card li {
  list-style-type: none;
}
