// make the users recipes scroll
.explore-feed-item {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .explore-recipe-card {
    flex: 0 0 auto;
  }
}

// extra css to make the scroll have 'momentum'
.explore-feed-item {
  -webkit-overflow-scrolling: touch;
}

.explore-feed-user-item {
  margin-bottom: 36px;
  border-radius: 16px;
  padding: 20px;
}

.explore-heading {
  margin: 30px 15px;
}

.explore-feed-item {
  width: 100%;
  display: flex;
}

// user details and follow button
.explore-feed-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.explore-feed-heading a {
  color: black;
}

// user avatar and name
.explore-user-details a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-user-details a:hover {
  opacity: 0.6;
}


// username - adjusting the margin
.explore-user-details h2 {
  margin-bottom: 0;
  margin-left: 15px;
}

//  commented out these classes because I think they're not being used anywhere on the explore page
// .explore-recipe-card {
//   position: relative;
//   padding-left: 8px;
//   padding-right: 8px;
// }

// .explore-recipe-card img {
//   border-radius: 16px;
//   filter: brightness(70%);
// }

// .explore-recipe-info {
//   position: absolute;
//   bottom: 0px;
//   left: 12px;
//   color: black;
// }

// if the user hasn't created any recipes
#empty-recipes-placeholder {
  color: white;
  font-size: 12pt;
  background-color: lightgray;
  width: 400px;
  height: 100px;
  margin: 12px;
}
