// make the users recipes scroll
.explore-feed-item {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .explore-recipe-card {
    flex: 0 0 auto;
  }
}

// extra css to make the scroll have 'momentum'
.explore-feed-item {
  -webkit-overflow-scrolling: touch;
}

.explore-feed-user-item {
  margin-bottom: 36px;
  border-radius: 16px;
  padding: 20px;
}

.explore-feed {

}

.explore-heading {
  margin: 32px;
}

.explore-feed-item {
  width: 100%;
  display: flex;
}

.explore-feed-heading {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px 16px
}

.explore-recipe-card {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.explore-recipe-card img {
  border-radius: 16px;
  filter: brightness(70%);
}

.explore-recipe-info {
  position: absolute;
  bottom: 0px;
  left: 12px;
  color: black;
}

.explore-feed-heading a {
  color: black
}


